
*{
	font-family: "sans-serif;";
	font-size: 10 px;
}

h1{
font-size: 50;
}


h2{
	text-transform: uppercase;
}

#language-learning-list li{
	background-color: green
}

.tools{
	border-width: 1px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}



.Things-to-learn{
	letter-spacing:15px ;
}

img {
height: 200 px;
width: 200px;
border-radius: 150px;
}

#p1{
	text-align: center;
	font-family: "sans-serif";

	}





